<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Disease spread modeller</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="jumbotron">
            <h1 class="display-4">Model your epidemic!</h1>
            <p class="lead">This is a website where you can model the spread of Disease.</p>
            <hr class="my-4">
            <p>It uses the SIR model to show you a graph of the lifespan of the disease. Once you do this, you'll understand what 'flattening the curve' means slightly better</p>

              <form method = 'POST' action = ''>
                {{form.hidden_tag( ) }}
                <!-- the hidden tag adds the CSRF token -->

                <fieldset class = "form-group">
                  <legend class = "border-bottom mb-4">Set the parameter values</legend>
                  <div class = "form-group">
                    {{ form.totalPopulation.label}}
                    {% if form.totalPopulation.errors %}
                      {{ form.totalPopulation(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                      {% for error in form.totalPopulation.errors %}
                        <br>
                        <li>{{ error }}</li>
                      {% endfor %}
                      </div>
                    {% else %}
                      {{ form.totalPopulation(class="form-control form-control-lg")}}                    
                    {% endif %}
                  <div class = "form-group">
                    {{ form.contactRate.label}}
                    {% if form.contactRate.errors %}
                      {{ form.contactRate(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                      {% for error in form.contactRate.errors %}
                        <br>
                        <li>{{ error }}</li>
                      {% endfor %}
                      </div>
                    {% else %}
                      {{ form.contactRate(class="form-control form-control-lg")}}                    
                    {% endif%}
                  </div>
                  <div class = "form-group">
                    {{ form.risk.label}}
                    {% if form.risk.errors %}
                      {{ form.risk(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                      {% for error in form.risk.errors %}
                        <br>
                        <li>{{ error }}</li>
                      {% endfor %}
                      </div>
                    {% else %}
                      {{ form.risk(class="form-control form-control-lg")}}                    
                    {% endif%}

                  </div>
                  <div class = "form-group">
                    {{ form.recoveryPeriod.label}}
                    {% if form.recoveryPeriod.errors %}
                      {{ form.recoveryPeriod(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                      {% for error in form.recoveryPeriod.errors %}
                        <br>
                        <li>{{ error }}</li>
                      {% endfor %}
                      </div>
                    {% else %}
                      {{ form.recoveryPeriod(class="form-control form-control-lg")}}                    
                    {% endif%}

                  </div>
                </fieldset>
                <div class = "form-group">
                  {{ form.calculate( class = "btn btn-dark" ) }}
                </div>
              </form>
          </div>

          <!--the next section is where the graph will go-->
          <div class="container">
            {% block content %}{% endblock %}
          </div>


        <script src="" async defer></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>